workflows/n8n/wa/proxy/wa-us-dynamic-ip.workflow.json
{
  "id": "wa-us-dynamic-ip",
  "name": "WA US Random Dynamic IP",
  "nodes": [
    {
      "parameters": {},
      "id": "wa-us-dynamic-ip-trigger",
      "name": "When Executed by WA Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "\nfunction clean(value) { return String(value || '').trim(); }\nfunction upper(value) { return clean(value).toUpperCase(); }\nconst body = $json.body || $json || {};\nconst proxy = (body.proxy && typeof body.proxy === 'object') ? body.proxy : {};\nconst purpose = clean(body.proxy_purpose || body.purpose || 'WA_REGISTRATION') || 'WA_REGISTRATION';\nconst requestedMode = upper(body.proxy_session_mode || body.session_mode || proxy.proxy_session_mode || proxy.session_mode || '');\nconst stickyAliases = new Set(['STICKY', 'PROXY_SESSION_MODE_STICKY', 'US_STICKY_DYNAMIC_IP']);\nconst rotatingAliases = new Set(['ROTATING', 'ROTATE', 'PROXY_SESSION_MODE_ROTATING', 'US_ROTATING_DYNAMIC_IP', 'US_RANDOM_DYNAMIC_IP']);\nconst proxySessionMode = stickyAliases.has(requestedMode) ? 'STICKY' : (rotatingAliases.has(requestedMode) ? 'ROTATING' : (upper(purpose).includes('REGISTRATION') ? 'STICKY' : 'ROTATING'));\nconst seed = `${$execution.id}-${Date.now()}-${Math.random().toString(16).slice(2)}`;\nconst proxyStateJSON = clean(body.proxy_state_json || body.state_json || proxy.proxy_state_json || proxy.state_json || '');\nconst proxyURL = clean(body.proxy_url || proxy.proxy_url || '');\nreturn [{ json: {\n  workspace_id: body.workspace_id || 'default',\n  job_id: body.job_id || $execution.id,\n  request_id: body.request_id || $execution.id,\n  purpose,\n  proxy_session_mode: proxySessionMode,\n  proxy_mode: proxySessionMode === 'STICKY' ? 'US_STICKY_DYNAMIC_IP' : 'US_ROTATING_DYNAMIC_IP',\n  sticky_ttl: clean(body.sticky_ttl || proxy.sticky_ttl || '600s') || '600s',\n  account_id: `wa-us-dyn-${seed}`.slice(0, 120),\n  selection_seed: seed,\n  provided_proxy: Boolean(proxyURL || proxyStateJSON),\n  proxy_url: proxyURL,\n  proxy_state_json: proxyStateJSON,\n} }];\n"
      },
      "id": "wa-us-dynamic-ip-normalize",
      "name": "Normalize Dynamic IP Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "provided-dynamic-ip",
              "leftValue": "={{ $json.provided_proxy === true }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "wa-us-dynamic-ip-provided",
      "name": "Provided Dynamic IP?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        460,
        0
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "\nfunction parseJSON(value) { try { return JSON.parse(String(value || '{}')); } catch { return {}; } }\nconst input = $('Normalize Dynamic IP Input').first().json;\nconst state = parseJSON(input.proxy_state_json);\nconst proxyURL = input.proxy_url || state._gopay_proxy || state.proxy_url || '';\nconst accountID = state._proxy_runtime_account_id || state.proxy_account_id || input.account_id || '';\nconst leaseID = state._proxy_runtime_lease_id || state.proxy_lease_id || '';\nreturn [{ json: {\n  success: Boolean(proxyURL || input.proxy_state_json),\n  accepted: Boolean(proxyURL || input.proxy_state_json),\n  proxy_mode: input.proxy_mode || 'PROVIDED_DYNAMIC_IP',\n  proxy_session_mode: input.proxy_session_mode,\n  country_code: state._gopay_country_code || state.country_code || 'US',\n  account_id: accountID,\n  lease_id: leaseID,\n  proxy_url: proxyURL,\n  proxy_state_json: input.proxy_state_json,\n} }];\n"
      },
      "id": "wa-us-dynamic-ip-use-provided",
      "name": "Use Provided Dynamic IP",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        -120
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.PROXY_RUNTIME_API_BASE_URL + '/leases/acquire' }}",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ (() => { const input = $('Normalize Dynamic IP Input').first().json; const sticky = input.proxy_session_mode === 'STICKY'; const policy = { mode: sticky ? 'PROXY_SESSION_MODE_STICKY' : 'PROXY_SESSION_MODE_ROTATING', region: 'US', rotation_mode: sticky ? 'PROXY_ROTATION_MODE_STICKY_SESSION' : 'PROXY_ROTATION_MODE_PER_REQUEST', labels: { country_code: 'US', proxy_session_mode: input.proxy_session_mode, selection_seed: input.selection_seed, job_id: input.job_id } }; if (sticky) policy.sticky_ttl = input.sticky_ttl || '600s'; return { account_id: input.account_id, purpose: input.purpose, force_new: true, policy, selection_policy: { country_code: 'US', purpose: input.purpose, max_attempts: 10 } }; })() }}",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "fullResponse": true
            }
          }
        }
      },
      "id": "wa-us-dynamic-ip-acquire",
      "name": "Acquire US Dynamic IP",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        720,
        120
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "\nconst input = $('Normalize Dynamic IP Input').first().json;\nconst response = $('Acquire US Dynamic IP').first().json || {};\nconst statusCode = response.statusCode || response.status || 200;\nconst body = response.body || response || {};\nconst proxyMode = input.proxy_mode || (input.proxy_session_mode === 'STICKY' ? 'US_STICKY_DYNAMIC_IP' : 'US_ROTATING_DYNAMIC_IP');\nif (statusCode < 200 || statusCode >= 300) {\n  return [{ json: { success: false, accepted: false, proxy_mode: proxyMode, proxy_session_mode: input.proxy_session_mode, country_code: 'US', account_id: input.account_id, error_message: `proxy-runtime dynamic IP acquire returned HTTP ${statusCode}` } }];\n}\nconst lease = body.lease || {};\nconst egress = body.egress || lease.egress || {};\nconst labels = egress.labels || {};\nfunction runtimeHost() {\n  const base = String($env.PROXY_RUNTIME_API_BASE_URL || '').trim();\n  try { return new URL(base).hostname || 'proxy-runtime'; } catch { return 'proxy-runtime'; }\n}\nfunction endpointHost(endpoint) {\n  const host = String(endpoint.host || '').trim();\n  if (!host || host === '0.0.0.0' || host === '127.0.0.1' || host === 'localhost' || host === '::' || host === '::1') return runtimeHost();\n  return host;\n}\nfunction hostLiteral(host) { return host.includes(':') && !host.startsWith('[') ? `[${host}]` : host; }\nfunction encodeAuthPart(value) { return encodeURIComponent(String(value || '')); }\nconst port = Number(egress.port || 0);\nif (!port) {\n  return [{ json: { success: false, accepted: false, proxy_mode: proxyMode, proxy_session_mode: input.proxy_session_mode, country_code: 'US', account_id: lease.account_id || input.account_id, lease_id: lease.lease_id || '', error_message: 'proxy-runtime dynamic IP lease has no egress endpoint' } }];\n}\nconst host = hostLiteral(endpointHost(egress));\nconst username = String(labels.proxy_username || '').trim();\nconst password = String(labels.proxy_password || '');\nconst auth = username ? `${encodeAuthPart(username)}:${encodeAuthPart(password)}@` : '';\nreturn [{ json: {\n  success: true,\n  accepted: true,\n  proxy_mode: proxyMode,\n  proxy_session_mode: input.proxy_session_mode,\n  country_code: 'US',\n  account_id: lease.account_id || input.account_id,\n  lease_id: lease.lease_id || '',\n  provider_account_id: lease.provider_account_id || '',\n  proxy_url: `http://${auth}${host}:${port}`,\n} }];\n"
      },
      "id": "wa-us-dynamic-ip-build",
      "name": "Build Dynamic IP Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        980,
        120
      ]
    }
  ],
  "connections": {
    "When Executed by WA Workflow": {
      "main": [
        [
          {
            "node": "Normalize Dynamic IP Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Dynamic IP Input": {
      "main": [
        [
          {
            "node": "Provided Dynamic IP?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Provided Dynamic IP?": {
      "main": [
        [
          {
            "node": "Use Provided Dynamic IP",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Acquire US Dynamic IP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Acquire US Dynamic IP": {
      "main": [
        [
          {
            "node": "Build Dynamic IP Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": true,
    "saveDataSuccessExecution": "all",
    "saveDataErrorExecution": "all"
  },
  "tags": [],
  "active": true
}
